# Dependencies
node_modules/

# Next.js Builds
.next/
out/
build/

# Envs
.env
.env.*
!.env.example

# Logs & Caches
*.log
.bun-cache/

# OS & Editor Configs
Thumbs.db
.DS_Store
.vscode/
.idea/

# Miscellaneous
*.tsbuildinfo
next-env.d.ts
.vercel

# API Keys
gemini-api-key.json