@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --default-font: "Zen Maru Gothic", system-ui;
  --color-light-1: oklch(98.4% 0.003 247.858);
  --color-light-2: oklch(96.8% 0.007 247.896);
  --color-light-3: oklch(92.9% 0.013 255.508);
  --color-light-4: oklch(86.9% 0.022 252.894);
  --color-light-5: oklch(70.4% 0.04 256.788);
  --color-dark-1: oklch(12.9% 0.042 264.695);
  --color-dark-2: oklch(20.8% 0.042 265.755);
  --color-dark-3: oklch(27.9% 0.041 260.031);
  --color-dark-4: oklch(37.2% 0.044 257.287);
  --color-dark-5: oklch(44.6% 0.043 257.281);
  --color-gray: oklch(55.4% 0.046 257.417);
  --color-green-light: oklch(93.8% 0.127 124.321);
  --color-green-middle: oklch(76.8% 0.233 130.85);
  --color-green-dark: oklch(45.3% 0.124 130.933);
  --color-blue-middle: oklch(62.3% 0.214 259.815);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 500;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background: var(--color-blue-middle);
}

*,
*::before,
*::after {
  @apply transition-colors duration-500 ease-in-out;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

*::selection {
  color: var(--color-light-1);
  background-color: var(--color-blue-middle);
}

*::-moz-selection {
  color: var(--color-light-1);
  background-color: var(--color-blue-middle);
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--color-dark-3);
}
.dark *::-webkit-scrollbar-thumb {
  background: var(--color-light-3);
}
*::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background: var(--color-dark-5);
}
.dark *::-webkit-scrollbar-thumb:hover {
  background: var(--color-light-5);
}
*::-webkit-scrollbar-thumb:active {
  border-radius: 1rem;
  background: var(--color-dark-4);
}
.dark *::-webkit-scrollbar-thumb:active {
  background: var(--color-light-4);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-dark-1 bg-light-1 dark:text-light-1 dark:bg-dark-1;
  overflow: hidden;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: var(--default-font);
}
