@import "tailwindcss";
@import "katex/dist/katex.min.css";
@plugin "@tailwindcss/typography";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --default-font: "Zen Maru Gothic", system-ui;
  --color-l1: oklch(98.5% 0.001 106.423);
  --color-l2: oklch(97% 0.001 106.424);
  --color-l3: oklch(92.3% 0.003 48.717);
  --color-l4: oklch(86.9% 0.005 56.366);
  --color-l5: oklch(70.9% 0.01 56.259);
  --color-d1: oklch(14.7% 0.004 49.25);
  --color-d2: oklch(21.6% 0.006 56.043);
  --color-d3: oklch(26.8% 0.007 34.298);
  --color-d4: oklch(37.4% 0.01 67.558);
  --color-d5: oklch(44.4% 0.011 73.639);
  --color-ld: oklch(55.3% 0.013 58.071);
  --color-blue: oklch(68.5% 0.169 237.323);
  --color-orange: oklch(70.5% 0.213 47.604);
  --color-red: oklch(64.5% 0.246 16.439);
  --color-lime: oklch(76.8% 0.233 130.85);
}

*::selection {
  color: var(--color-l1);
  background-color: var(--color-blue);
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--color-d3);
}
.dark *::-webkit-scrollbar-thumb {
  background: var(--color-l3);
}
*::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background: var(--color-d5);
}
.dark *::-webkit-scrollbar-thumb:hover {
  background: var(--color-l5);
}
*::-webkit-scrollbar-thumb:active {
  border-radius: 1rem;
  background: var(--color-d4);
}
.dark *::-webkit-scrollbar-thumb:active {
  background: var(--color-l4);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-d1 bg-l1 dark:text-l1 dark:bg-d1;
  overflow: hidden;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: var(--default-font);
}

html,
body,
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  user-drag: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

mjx-container svg {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.1em;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}
