@import "tailwindcss";
@import "katex/dist/katex.min.css";
@import "tailwind-scrollbar-hide/v4";
@plugin "@tailwindcss/typography";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme {
  --default-font: "Zen Maru Gothic", system-ui;
  --font-title: var(--font-title);
  --font-subtitle: var(--font-subtitle);

  --color-l1: hsl(0, 0%, 95%);
  --color-l2: hsl(0, 0%, 90%);
  --color-l3: hsl(0, 0%, 85%);
  --color-l4: hsl(0, 0%, 80%);
  --color-l5: hsl(0, 0%, 75%);
  --color-l6: hsl(0, 0%, 70%);
  --color-l7: hsl(0, 0%, 65%);
  --color-l8: hsl(0, 0%, 60%);
  --color-l9: hsl(0, 0%, 55%);
  --color-d1: hsl(0, 0%, 5%);
  --color-d2: hsl(0, 0%, 10%);
  --color-d3: hsl(0, 0%, 15%);
  --color-d4: hsl(0, 0%, 20%);
  --color-d5: hsl(0, 0%, 25%);
  --color-d6: hsl(0, 0%, 30%);
  --color-d7: hsl(0, 0%, 35%);
  --color-d8: hsl(0, 0%, 40%);
  --color-d9: hsl(0, 0%, 45%);

  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsl(0, 0%, 50%);
  --color-black: hsl(0, 0%, 0%);
  --color-red: hsl(15, 100%, 50%);
  --color-orange: hsl(30, 100%, 50%);
  --color-yellow: hsl(45, 100%, 50%);
  --color-green: hsl(135, 100%, 50%);
  --color-blue: hsl(195, 100%, 50%);
  --color-indigo: hsl(255, 100%, 50%);
  --color-violet: hsl(300, 100%, 50%);
}

html,
body,
*,
*::before,
*::after {
  @apply box-border antialiased appearance-none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

html[data-scroll-behavior="smooth"] {
  scroll-behavior: smooth;
}

*::selection {
  color: var(--color-l1);
  background-color: var(--color-blue);
}

*::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
*::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--color-l1);
}
.dark *::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--color-d1);
}
*::-webkit-scrollbar-corner {
  background: var(--color-l1);
}
.dark *::-webkit-scrollbar-corner {
  background: var(--color-d1);
}
*::-webkit-scrollbar-thumb {
  box-sizing: content-box;
  border-radius: 1rem;
  background: var(--color-l2);
  border: 0.25rem solid var(--color-l1);
}
.dark *::-webkit-scrollbar-thumb {
  box-sizing: content-box;
  border-radius: 1rem;
  background: var(--color-d2);
  border: 0.25rem solid var(--color-d1);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--color-l4);
}
.dark *::-webkit-scrollbar-thumb:hover {
  background: var(--color-d4);
}
*::-webkit-scrollbar-thumb:active {
  border-radius: 1rem;
  background: var(--color-l3);
}
.dark *::-webkit-scrollbar-thumb:active {
  background: var(--color-d3);
}

*::-ms-reveal {
  display: none;
}

@utility all {
  @apply transition-all duration-500 ease-out;
}

@utility colors {
  @apply transition-colors duration-500 ease-out;
}

@utility transform {
  @apply transition-transform duration-500 ease-out;
}

@utility none {
  @apply transition-none;
}

@utility animate-caret {
  animation: caret-fade 5s infinite linear;
}

@keyframes caret-fade {
  0%,
  100% {
    caret-color: var(--color-red);
  }
  14.3% {
    caret-color: var(--color-orange);
  }
  28.6% {
    caret-color: var(--color-yellow);
  }
  42.9% {
    caret-color: var(--color-green);
  }
  57.2% {
    caret-color: var(--color-blue);
  }
  71.5% {
    caret-color: var(--color-indigo);
  }
  85.8% {
    caret-color: var(--color-violet);
  }
}
